@page "/"
@rendermode InteractiveServer

<PageTitle>Student Info</PageTitle>

<h1>Student Component</h1>

<StudentComponent Name="Alex" Age="22" />

<style>
    .student-card {
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: 20px;
        width: 300px;
    }
</style>